# configuration and sensitive information
packages/rxxbot-client/public/assets/
packages/rxxbot-server/src/config/
!packages/rxxbot-server/src/config/*.example.*

# yarn/lerna/build artifacts
node_modules/
build/
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# system cruft
.vscode
.DS_Store
