# configuration and sensitive information
packages/rxxbot-client/public/assets/
packages/rxxbot-server/src/config/
!packages/rxxbot-server/src/config/*.example.*

# yarn/build artifacts
node_modules/
dist/
yarn-debug.log*
yarn-error.log*

# system cruft
.vscode
.DS_Store
